<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Weather History</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/showWeatherStyle.css}">
</head>
<body>
    <header>
        <h1>Weather History</h1>
    </header>
    <table>
        <thead>
        <tr>
            <th>Time</th>
            <th>Temperature(°F)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="timeWeather : ${temperatureHistory}">
            <td style="color: #7c7cdc;" th:text="${timeWeather.getTime()}"></td>
            <td style="color: #FF5733;" th:text="${timeWeather.getTemperature()}"></td>
        </tr>
        </tbody>
    </table>

</body>
</html>